body{
margin: 0;

font-family: 'Nunito', sans-serif;
}
p{
    font-size: 20px !important;
}
h1{
    font-size: 70px;
    font-weight: 100;
    font-family: 'DM Serif Display', serif;
    text-align: center;

}
.center {
    position: absolute;
    left: 60%;
    top: 10%;
    transform: translate(-44%, -50%);

    padding: 4px;
    width: 70%;
   
}
header{
    background-color: #8ecae6;
    margin: 0;
    
    height: 200px;
    
     box-shadow: 0px 3px 9px grey;
    border-bottom-left-radius: 500px 500px;
}
.projetAppelOffre{
   
    border-radius: 20px;
    box-shadow: 0px 3px 9px lightgray;
    margin-top: 300px;
    padding: 2%;
   
}
.siteAppelOffre{
    border-radius: 20px;
  
    box-shadow: 0px 3px 9px lightgray;
    margin-top: 2%;
    
    padding: 2%;
    text-align: left;
}
.gestionTickets{
    border-radius: 20px;
    box-shadow: 0px 3px 9px grey;
    margin-top: 2%;
    padding: 2%;
 
}
.container{
    margin: 5%;
    
}
h2{
    color: black;
    font-size: 47px;
    font-weight: 100;
    font-family: 'DM Serif Display', serif;
    text-align: left;
    margin-left: 13%;
}
h3{
    color: black;
    font-size: 29px;
    font-weight: 100;
    font-family: 'DM Serif Display', serif;
    text-align: left;
}
.flexProjet{
    display: flex;
    
    margin: auto;
    width: 90%;
   
    padding: 10px;
    
}
.flexProjet button{
    margin: 10px;
    width: 200px;
    height: 42px;
    margin-right: 30px;
    border-radius: 20px;
    border-style: hidden ;
    cursor: pointer;
    transition: .6s;
    background-color: black;
    color: white;
}
.flexProjet button:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 7px grey;
}
.flexProjet img{
border-radius: 10px;
margin-right: 60px;
margin-left: 100px;
box-shadow: 0px 2px 5px grey;
}
.inline{
    display: inline;
}
.technologiesUtilise{
    display: flex;
    margin-bottom: 2%;
}

.html p{
    background-color: lightblue;
    border-radius: 10px;
    padding:2px 10px 2px 10px ;
    margin: 5px;
}
.css p{
    background-color: lightyellow;
    border-radius: 10px;
    padding:2px 10px 2px 10px ;
    margin: 5px;
}
.atom p{
    background-color: lightgrey;
    border-radius: 10px;
    padding:2px 10px 2px 10px ;
    margin: 5px;
}
.JS p {
    background-color: black;
    border-radius: 10px;
    padding:2px 10px 2px 10px ;
    margin: 5px;
    color: white;
}
.VsCode p{
    background-color: #336d88;
    border-radius: 10px;
    padding:2px 10px 2px 10px ;
    margin: 5px;
    color: white;
}
a{
    text-decoration: none;
    color: black;
    
}

footer{

    background-color: #8ecae6;
    margin: 0;
    padding: 1%;
    color: black;
  
    border-top-left-radius: 500px 500px;
   
    
  }
  footer p {
    font-size: 14px;
  text-align: center;
  margin: 0;
  }
  .footer a{
    font-size: 17px;
    text-decoration: none;
  
  margin: 0;
  }
  .footer img{
    
    margin: 0;
  }
  .footer {
  
    display: flex;
  
    margin: auto;
    width: 40%;
  
  padding: 5px;
  }
  .mail{
    display: flex;
    margin-left: 10%;
  }
  .linkedin{
    display: flex;
    margin-left: 10%;
  }
  